<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
    </configSections>
    <connectionStrings>
        <add name="stoktakipotomasyon.Properties.Settings.stoktakipotomasyonConnectionString"
            connectionString="Data Source=DESKTOP-2CK0B4F;Initial Catalog=stoktakipotomasyon;Integrated Security=True"
            providerName="System.Data.SqlClient" />
    </connectionStrings>
</configuration>